PORT=8000
NODE_ENV=development

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=6500
POSTGRES_USER=admin
POSTGRES_PASSWORD=password123
POSTGRES_DB=node_prisma

FRONTEND_URL=""
REDIS_URL=redis://redis:6379

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
JWT_SECRET="xxxxxxxx"
CALLBACK_URL=http://localhost:8800/api/v1/users/auth/google/callback